<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43761257357-9hr94d72o75dif9mp24joq5jnp932lsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43761257357-9hr94d72o75dif9mp24joq5jnp932lsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCSMZoeEO88i4fWgmWN_bbUg45btfhDpGo</string>
	<key>GCM_SENDER_ID</key>
	<string>43761257357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.fbla.kooper.miltonrelay</string>
	<key>PROJECT_ID</key>
	<string>miltonrelay-83d43</string>
	<key>STORAGE_BUCKET</key>
	<string>miltonrelay-83d43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43761257357:ios:d958e92054c0896a32cbc4</string>
</dict>
</plist>